{% extends 'baseboard/base.html' %}

{% block title %}
{{ dashboard.name }} Dashboard / {{ block.super }}
{% endblock %}

{% block menu %}
<p>Back to <a href="{% url dashboard_list %}">all dashboards</a></p>

{% if request.user.is_authenticated and request.user.is_staff %}
    <p><a href="/admin/baseboard/dashboard/{{ dashboard.id }}/">Edit</a></p>
{% endif %}

{% endblock %}

{% block content_title %}
{{ dashboard.name }} Dashboard
{% endblock %}

{% block content_description %}
{{ dashboard.description }}

<p><strong>Extracted from Basecamp</strong> {{ dashboard.projects.all.0.basecamp_updated_at|timesince }} ago</p>
{% endblock %}

{% block content %}

{% if not dashboard.projects %}
<p>There aren't any projects associated with this dashboard.</p>
{% endif %}


{% for project in dashboard.projects.all %}
<div class="project_recap {% cycle 'project_recap_even' 'project_recap_odd' %}{% if project.is_late %} project_late{% endif %}{% if project.is_stale %} project_stale{% endif %}">
  <ul>

    <li class="summary"><strong><a href="{{ project.project_url }}">{{ project.name }}</a></strong>
      {% if project.summary.current_sprint %}{{ project.summary.current_sprint.name }}{% endif %}
    </li>

    {% if project.summary.current_sprint.description %}
    <li class="summary">{{ project.summary.current_sprint.description }}
    </li>
    {% endif %}

    {% if project.summary.late_milestones %}
    <li><strong>Late milestones:</strong> {{ project.summary.late_milestones|length }}</li>
    {% endif %}

    <li><strong>Next:</strong> {{ project.summary.upcoming_milestones.0.title|default:"Nothing planned" }} {{ project.summary.upcoming_milestones.0.deadline|date:"o\n D. M j"|default:"" }}
    </li>

    <li>{{ project.summary.backlogged_count }} item{{ project.summary.backlogged_count|pluralize }} in {{ project.summary.backlogs|length }} backlog{{ project.summary.backlogs|length|pluralize }}</li>

    <li>Last changed {{ project.summary.last_changed_on|timesince }} ago
    </li>

    <li><a href="{{ project.get_absolute_url }}">Project details...</a>
    </li>

  </ul>
</div>
{% endfor %}

{% endblock %}
